{% extends 'layout.html' %} {% block title %} coder list 
{% endblock title %} 
{% block content %}
<div class="container p-6 mx-auto my-8 bg-white rounded shadow-md">
  <h1 class="mb-4 text-4xl font-bold">Content Page coder</h1>
  <hr class="mb-4 border-gray-300" />
  <a href="/">
    <button
      class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700"
    >
      Home Page
    </button>
  </a>
</div>
{% endblock content %} {% block footer %}
<footer class="py-4 mt-8 text-white bg-gray-800">
  <div class="container mx-auto text-center">© 2021 Copyright</div>
</footer>
{% endblock footer %}
