{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div>
        <h1>Django projects  contact</h1>
        <ul>
        <h2>ads</h2>
        <a href="/about">about page </a>
        <hr>
        <a href="/">HOme page </a>
        <hr>
        <a href="/login">Login page </a>
        <hr>
    </div>
</body>
</html>