{% extends 'layout.html' %}


{% block title %}About page{% endblock title %}

{% block content %}

    <div>
        <h1>ABout page</h1>
        <p>Here you can find all the information about the project</p>
        <hr>
        <a href="/"> 
            <button>Home-page</button>
        </a>
        <hr>
        <a href="/contact"> 
            <button>Contact-page</button>
        </a>
        <hr>
        <a href="/service"> 
            <button>Service-page</button>
        </a>
    </div>

{% endblock content %}