{% extends 'layout.html' %}


{% block title %}Service page{% endblock title %}

{% block content %}

    <div>
        <h1>Service page</h1>
        <p>Here you can find all the information about the project</p>
        <hr>
        <a href="/about"> 
            <button>About-page</button>
        </a>
        <hr>
        <a href="/contact"> 
            <button>Contact-page</button>
        </a>
        <hr>
        <a href="/"> 
            <button>hOmE-page</button>
        </a>
    </div>

{% endblock content %}