{% extends 'layout.html' %}

{% block title %} Delete lio blog page {% endblock title %}


{% block content %}
    <h1>Are you sure you want to delete this blog?</h1>
    <form  method="post"> 
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ lio }}"?</p>
        <button type="submit" value="Confirm" class="px-4 py-2 font-bold text-white bg-orange-600 rounded hover:bg-orange-700">
            Confirm
          </button>
        <hr>
        <a  href="{% url 'lio_list' %}">
            <button class="px-4 py-2 font-bold text-white bg-orange-600 rounded hover:bg-orange-700">
                Cancel
              </button>
        </a>
        
    </form>
{% endblock content %}